:root {
    --background-color: #ffffff;
    --background-color-section: #6EE0B6;
    --color-navigation-text: #000000;
    --background-color-footer: #000000;
    --color-footer-text: #ffffff;
    --color-buttons: #6EE0B6;
    --color-form-buttons: #000000;
    --color-button-text: #000000;
    --color-form-text: #ffffff;
    --color-cards: #89cff0;
    --color_brown: #603808;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-box-shadow: #00000040;
    --color-hero: #ffffff;
}

.navigation{
    background-color: transparent;
    position: absolute;
}

.hero_container{
    grid-template-rows: 155px auto;
}

.hero_section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(./01-css-images/contact-page-microplastic-polution-problem.jpg);
    background-position: center top;
    opacity: 85%;
    margin-bottom: 100px;
}

.menu-container ul li a{
    color: var(--color-white);
}

.cards_template:nth-child(1){
    margin-top: 0px;
}

.cards_template:nth-child(2){
    margin-top: 90px;
}

.span_six{
    grid-column: span 6;
}

.contact_form{
    padding: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap);
}

.contact_form input{
    margin-bottom: 10px;
}

.contact_form_headline{
    grid-column: span 2;
}

.form_input_message{
    height: 170px;
    display: flex;
}

.join_us_container textarea{
    padding: 10px;
}

.agree_to_terms_contact{
    grid-column: span 2;
    font-family: "Geologica", sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.agree_to_terms_contact input[type="checkbox"] {
    transform: scale(1.6);
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-form-buttons);
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.agree_to_terms_contact input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    width: 8px;
    height: 4px;
    border: 1px solid var(--color-form-buttons);
    border-width: 2px 2px 0 0;
}

.agree_to_terms_contact input{
    margin-left: 4px;
}

.agree_to_terms_contact label{
    margin-left: 15px;
}

@media (width < 1300px) {

    .hero_section{
        height: 550px;
    }
}

@media (width < 1138px) {
    
    .cards_template{
        grid-column: span 5;
    }

    .cards_template:nth-child(2){
        display: none;
    }
}

@media (width < 1000px){
    
    .know_us_better h2{
        font-size: 32px;
    }
}

@media (width < 768px) {
    .cards_template:nth-child(2){
        display: flex;
        margin: 30px 0;
    }

    .cards_template,
    .span_six{
        grid-column: span 12;
    }

    .know_us_better img{
        grid-row: 4;
        grid-column: span 12;
    }
}

@media (width < 680px) {

    .navigation{
        background-color: var(--background-color);
        position: fixed;
    }

    .menu-container ul li a{
    color:var(--color-navigation-text);
    }
}

@media (width < 430px) {
    
    .agree_to_terms_contact input[type="checkbox"]{
        width: 18px;
    }

}